$primay_font: roboto, sans-serif;
$logo_font: shrikhand, serif;

$background_footer: #353535;
$background_city: #EAEAEA;
$lien_footer : #FFF;
$white: white;
$purple: #9356DC;
$purple_light: #e3d7f1;
$green_light: #99E2D0;
$green: #008766;
$bleu_light: #89C8FA;
$bleu: #003A68;
$black: black;
$background_grey: #F6F6F6;
$text_new: #1b6150;
$color-secondary:#FF79DA;

@mixin tablet {
    @media (min-width: 1024px) {
      @content;
  
      .operation-steps {
        display: flex;
        gap: 50px;
      }
    }
  }
  
  @mixin desktop {
    @media (min-width: 1440px) {
      @content;
    }
  }