footer {
    background-color: $background_footer;

    .footer-block {
        display: flex;
        flex-direction: column;

        // ! 1024px < width < 1439px ;
        @media (min-width: 1024px) and (max-width:2400px) {
            display: flex;
            flex-direction: row-reverse;
            padding: 30px 25px;
            width: 100%;
            justify-content: right;
        }

        .footer-block-link {
            display: flex;
            flex-direction: row;
            margin-left: 25px;
            margin-bottom: 5px;

            // ! 1024px < width < 1439px ;
            @media (min-width: 1024px) and (max-width:2400px) {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .footer-lien {
                color: $lien_footer;
                text-decoration: none;

                &:hover {
                    color: $purple;
                }
            }

            .fa-solid.fa-handshake-angle,
            .fa-solid.fa-utensils {
                color: $lien_footer;
                margin-right: 10px;
            }
        }

        .footer-logo {
            text-decoration: none;
            color: $white;
            font-family: $logo_font;
            font-size: 1.125rem;
            padding: 22px 0px 16px 25px;

            // ! 1024px < width < 1439px ;
            @media (min-width: 1024px) and (max-width:2400px) {
                padding: 0px 25px 0px 150px;
            }
        }
    }
}